@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    padding-left: 200px;
    width: 200px;
    flex: auto;
}

.header {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    margin: 0;
    gap: 16px;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
  display: flex;
  gap: 25px;
  width: 500px;
  padding-right: 80px;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1F2937;
  padding: 40px 0px ;
  height: 400px;

}

.text_elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 220px;
}

.side_image {
  width: 500px;
  height: auto;
  padding-right: 210px;
  
}

.title_1 {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
  width: 350px;
}

.text {
  font-size: 18px;
  color: #E5E7EB;
  width: 400px;
}

.sign_up {
  background-color: #3882F6;
  font-weight: bold;
  color: white;
  width: 100px;
  padding: 5px 10px;
  border: none;
  margin-top: 10px;  
  border-radius: 5px;
}
 
.title_2 {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
}

.main_imgs {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 52px;

}

.info_2 {
  max-width: 200px;
}

